<picture>
    <source media="(max-width: 992px)" srcset="about-480w.jpg" />
    <source media="(max-width: 1800px)" srcset="about-960w.jpg" />
    <img src="about.jpg" alt="Yellow Flowers" />
</picture>