<picture>
    <source media="(max-width: 992px)" srcset="client-480w.jpg" />
    <source media="(max-width: 1800px)" srcset="client-960w.jpg" />
    <img src="client.jpg" alt="Red Flowers" />
</picture>