<picture>
    <source media="(max-width: 992px)" srcset="contact-480w.jpg" />
    <source media="(max-width: 1800px)" srcset="contact-960w.jpg" />
    <img src="contact.jpg" alt="White Flowers" />
</picture>