<picture>
    <source media="(max-width: 992px)" srcset="problems-480w.jpg" />
    <source media="(max-width: 1800px)" srcset="problems-960w.jpg" />
    <img src="problems.jpg" alt="Red Flowers" />
</picture>