<picture>
    <source media="(max-width: 992px)" srcset="room-480w.jpg" />
    <source media="(max-width: 1800px)" srcset="room-960w.jpg" />
    <img src="room.jpg" alt="Green Field With Tree" />
</picture>