---
title: About
layout: base.njk
tags: post
navTitle: Me (Counsellor)
permalink: about.html
header: aboutHeader.njk
---

<header>
    {% include header %}
</header>
<main class="redBorder">
    <section>
        <h1>Introducing Myself As Counsellor</h1>
        <p>Normally, in a counselling relationship, clients don&#39;t need to know much about their counsellor.
            It is because that is the only way how a counsellor could remain neutral and unbiased. However, I
            understand that in order to enter into a so-called therapeutic relationship where trust is key, the
            client would need to know some basics about their counsellor.</p>
        <picture>
            <img src="anna.jpg" alt="Portrait Counsellor" />
        </picture>
        <p>I&#39;m primarily a Psychodynamic counsellor meaning that I use the principles of psychotherapy. I
            was trained in a BACP accredited training course.</p>
        <p>I&#39;m also a Doctor of Pharmacy and before becoming a counsellor, I worked in the pharmaceutical
            research industry for many years. Understanding how drugs generally work, helped me to find the
            balance between modern scientific advances (such as medication) and deeper emotional wellbeing
            provided by counselling. I believe medication and counselling would best work together.</p>
        <p>When working with clients, I respect the client&#39;s diagnosis made by themselves or by health care
            professionals. However instead of keeping my clients in that defined “box of diagnosis” and “deal
            with” it, I tend to try to discover the invisible links between the different parts (past and
            present) of the client&#39;s life.</p>
        <p>For me the meaning of successful counselling is not measured by a specific achievement. It is a slow,
            constantly changing progress of how my clients think and feel about themselves and others.</p>
        <p>I am a Registered Member of the <a class="inlineLink" href="#BACP-member">BACP</a>(British
            Association for Counselling and Psychotherapy)
            and work within the <span class="hightLightInline">BACP Ethical Framework for the Counselling
                Professions</span>. This includes the
            requirement that I attend regular supervision to discuss my client work with an experienced
            colleague, and that I undertake ongoing professional development.</p>
    </section>
</main>