---
title: Problems
layout: base.njk
tags: post
navTitle: The Problems
permalink: problems.html
header: problemsHeader.njk
---

<header>
    {% include header %}
</header>
<main>
    <section>
        <h1>The broad type of problems I help my clients with:</h1>
        <ul class="tileList">
            <li>Abuse</li>
            <li>Anxiety</li>
            <li>Bereavement</li>
            <li>Burn out at work</li>
            <li>Cultural and integration issues</li>
            <li>Depression</li>
            <li>Health related issues</li>
            <li>Loss</li>
            <li>Low self-esteem</li>
            <li>Personal development</li>
            <li>Redundancy</li>
            <li>Relationship issues</li>
            <li>Shyness</li>
            <li>Suffering from addiction to social media</li>
            <li>Stress</li>
            <li>Trauma</li>
            <li>Weight gain/overeating (as addiction)</li>
            <li>Work related issues</li>
        </ul>
    </section>
</main>