---
title: Thank You
layout: base.njk
permalink: submitted.html
---

<header>
    <a href="index.html"><img src="mail.svg" alt="Mail Icon"/></a>
</header>
<main>
    <h1>Thank you</h1>
    <p>I will contact you as soon as possible. If there is anything, you can send me an <a href="#email">email</a>.</p>
</main>