---
layout: base.njk
pagination:
    data: collections.articles
    size: 1
    alias: article
permalink: /article-{{ article.title | slugify }}.html
---
    {% for article in pagination.items %}
        <article>
            <h1>{{ article.title }}</h1>
        </article>
    {% endfor %}