---
title: Client
layout: base.njk
tags: post
navTitle: You (Client)
permalink: client.html
header: clientHeader.njk
---

<header>
    {% include header %}
</header>
<main class="redBorder">
<section>
    <h1>You As A Prospective Client Considering Counselling</h1>
    <p>You are reading this page probably because you are seeking counselling for a well-defined diagnosis
        or
        because an unclear problem within you impacts your life.</p>
    <p>You might have had past experience with
        counselling already, or this might be the first time you&#39;ve considered it. You are also trying
        to
        understand all the confusing counselling options available in terms of modality, timing and lengths.
        Finding a counsellor is often difficult also because the easiest fit might not be the right one.</p>
</section>
<section>
    <ul>
        <li>I would be happy to have an initial, free of charge online consultation where I would be
            interested
            to know the main reason why you are seeking counselling, and some basic information about you
            such
            as age, occupation, support network. We can explore if psychodynamic counselling is a suitable
            fit
            for you. We will see if we can find a mutually convenient time/place for our sessions.
        </li>
        <li>
            If we decide to progress, our 2nd step is an online or in person assessment session. This could
            take
            around 1.5 hour and will be a strictly confidential discussion. This is the first opportunity we
            can
            talk more in depth which would allow us to see if our counselling relationship could work. There
            might be specific situations whereby I could not take you as a client, in which case I will
            explain
            the reason.
            <br>
            After the assessment session, you have the choice to decide to go further or not. The fee for
            the
            assessment will be waved if you started counselling with me.
        </li>
        <li>
            If we both agree to start counselling, we will set a specific time and place (in person or
            online)
            where we would meet every week.
            Before the first counselling session I will send you a few documents you will be asked to fill
            in
            and return. Information about logistics of the sessions will be provided in advance.
        </li>
    </ul>
</section>
</main>