---
title: Practicalities
layout: base.njk
tags: post
navTitle: Practicalities
permalink: practicalities.html
header: practicalitiesHeader.njk
---

<header>
    {% include header %}
</header>
<main class="redBorder">
    <section>
        <h1>Important Practicalities</h1>
        <span>I offer both long term (open ended) and short term (~16 weeks) counselling. At present, I&#39;m
            only
            accepting individual adult (18&#43;) clients.</span>
        <br>
        <span>Counselling sessions can be:</span>
        <ul>
            <li>In person in my home practice near Chichester, West Sussex, UK. (the exact address will be
                provided during the Introductory or Assessment session)</li>
            <li>Online for clients within and outside of UK using either Teams or Zoom</li>
        </ul>
        <br>
        <span>My availability for sessions often changes but it is broad, and it can include weekday evenings
            (5PM and 6PM) and Saturday morning (9, 10 and 11AM) UK time.</span>
        <br>
        <span>My usual fee is &#163;50 per session however:</span>
        <ul>
            <li>I offer discounted rate (&#163;25) to students and people who live on benefits</li>
            <li>The fee for clients outside of UK to be confirmed</li>
        </ul>
        <span>I ask clients to accept/sign a counselling contract with me (BelieveinTalking Ltd) before
            counselling starts. The terms and conditions are clearly defined including cancellation of
            individual sessions (at least 24hrs before) and 3 weeks&#39; notice period to end
            counselling.</span>
        <br>
        <p>My preferred client communication outside of the counselling sessions is by <a class="inlineLink"
                href="#email">email</a>.
        </p>
        <br>
        <span>Language of counselling is English</span>
    </section>
</main>