---
title: Counselling Room
layout: base.njk
tags: post
navTitle: Counselling Room
permalink: room.html
header: roomHeader.njk
---

<header>
    {% include header %}
</header>
<main class="redBorder">
    <section>
        <h1>What Happens In Our Counselling Room (in person or virtual)? </h1>
        <p>Counselling always takes place in a strictly confidential environmental for both you (client) and me
            (counsellor). I will be available for our discussion precisely at the start of the agreed hour and
            will finish 50 minutes later. Primarily, the counselling space is yours; I&#39;m there to listen but
            it does not mean that I&#39;m passive. I&#39;m interested in you, your struggles, emotions and
            everything that is an important part of you.</p>
        <p>I&#39;m there as an unbiased “other” person who could help to process what you cannot do yourself.
            Every counselling session is unique and there is no homework or pre-planning involved. You just have
            to turn up and be truly yourself in that moment and space.</p>
    </section>
</main>